
fastapi                   0.111.0
fastapi-cli               0.0.7
httpx                     0.28.1
ibm-cos-sdk               2.13.6
ibm-cos-sdk-core          2.13.6
ibm-cos-sdk-s3transfer    2.13.6
ibm_watsonx_ai            1.0.2
importlib_metadata        8.7.0
numpy                     1.26.4
pandas                    2.1.4
pyasn1                    0.6.1
pyasn1_modules            0.4.2
pydantic                  2.7.1
pydantic_core             2.18.2
python-dotenv             1.0.1
requests                  2.32.2
SQLAlchemy                2.0.30
starlette                 0.37.2
streamlit                 1.46.0
toml                      0.10.2
torch                     2.7.1
urllib3                   2.5.0
uvicorn                   0.30.1
